:root {
   --lightblue:  #72b7d8;
   --darkblue: #00447c;
   --gray: #5f6062;

   --perfect-pearl: #ede6d9;
   --minty-moses: #ced9b0;
   --burnished-bronze: #998859;
   --buoyant-blue: #72b7d8;
   --cozy-crimson: #743338;
}

@font-face {
   font-family: GothamRegular;
   src: url(../fonts/gotham/gotham-regular/Gotham-Book.ttf);
}

@font-face {
   font-family: RamillasRegular;
   src: url(../fonts/ramillas/TTRamillas-Normal.ttf);
}


* {
   padding:0;
   margin:0;
   font-family: GothamRegular;
}

body {
   width:100%;
   height:100vh;
}

#month {
   height:5%;
   background:var(--darkblue);
   color: white;
   display:flex;
   align-items:center;
   flex-direction:row;
   flex-direction:column;
   justify-content:center;
   font-size:24px;
   font-weight:bold;
}

#days-of-week {
   background:var(--lightblue);
   color: var(--darkblue);
   height:5%;
   display:flex;
   flex-direction:row;
   justify-content:space-around;
   align-items:center;
   font-size:20px;
   font-weight:bold;
}

#days-container {
   height:90%;
   display:flex;
   flex-direction:column;
   justify-content:space-around;
   color:var(--darkblue);
}

.week {
   height:20%;
   display:flex;
}

.outside-the-month, .today {
   background:var(--burnished-bronze);
}

.outside-the-month, .today span {
   color:white;
}

.week > div {
   flex:1;
   border:1px solid gray;
   padding:2px;
}

.event-preview {
   background:var(--lightblue);
   margin-bottom:5px;
}

.event-preview .title {
   padding:2px;
   font-size:12px;
}

.active {
   animation-name: fadein;
   animation-duration: 10s;
   animation-delay: 2s;
}

@keyframes fadein {
   0%   {opacity:0;}
   10%  {opacity:1;}
   90%  {opacity:1;}
   100% {opacity:0;}
}

#focus-event {
   position:absolute;
   width:80%;
   height:80%;
   left:10%;
   top:10%;
   background:white;
   opacity:0;
   display:none;
   border: 2px solid var(--gray);
   border-radius:5px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#focus-event .event {
   height:100%;
}

#focus-event .event .title {
   height:10%;
   display:flex;
   flex-direction:row;
   justify-content:space-around;
   align-items:center;
   font-size:30px;
   font-weight:bold;
   color:var(--darkblue);
   background:var(--lightblue);
}

#focus-event .event .graphic, 
#focus-event .event .details { 
   width:50%;
   height:90%;
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
   gap:20px;
}

#focus-event .event img {
   max-height:90%;
   max-width:90%;
}

#focus-event .event .graphic {
   float:left;
}

#focus-event .event .details {
   float:right;
}

#focus-event .event .details {
   color: var(--darkblue);
   font-size:24px;
}

.event.journey-through-the-new-testimate img,
.event.womens-bible-study img {
   height:250px;
}
