<div class="event">
   <div class="title">{{Event_Title}}</div>
   <div class="body">
      <div class="graphic"><img src={{Graphic_URL}}></div>
      <div class="info">
         <div class="description">
            {{Description}}
            <div>{{Line2}}</div>
         </div>
         <div class="location">Where: {{Location.Location_Name}}</div>
         <div class="contact">
            Contact: 
            {{Primary_Contact.First_Name}} 
            {{Primary_Contact.Last_Name}}
         </div>
         <div class="date">{{eventdate}}</div>
      </div>
      <div id="qrcode" class="qrcode"></div>
   </div>
   <div class="footer">Family Church Jupiter</div>
</div>
