<div class="event">
   <div class="title">{{Event_Title}}</div>
   <div class="body">
      <div class="graphic"><img src={{Graphic_URL}}></div>
      <div class="info">
         <div class="description">{{Description}}</div>
         <div class="location">{{Location.Location_Name}}</div>
         <div class="contact">{{Primary_Contact.Display_Name}}</div>
         <div class="date">{{eventdate}}</div>
      </div>
   </div>
   <div class="footer">Family Church Jupiter</div>
</div>
