<div class="event">
   <h1>{{Event_Title}}</h1>
   <img src={{Graphic_URL}}>
   <div>
      <p>{{Description}}</p>
      <br/>
      <p>{{Location.Location_Name}}</p>
      <p>
         Contact:
         {{Primary_Contact.First_Name}}
         {{Primary_Contact.Last_Name}}
      </p>
      <p>{{eventdate}}</p>
   </div>
</div>
